#web_bg {
    position: fixed;
    z-index: -999;
    height: 100%;
    background-attachment: local;
    background-position: center;
    /* 背景图像的地址（url括号里）  */
    background: url(http://s4.ax1x.com/2022/02/27/bn3qxK.jpg);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
  }
  